<!DOCTYPE html>
<html>
<head>
	<title>Product Upload Form</title>
	<style>
		body {
			background-color: black;
			color: white;
		}
		label {
			display: block;
			margin-top: 10px;
		}
		input[type="text"], textarea {
			width: 100%;
			padding: 10px;
			border: none;
			background-color: #222;
			color: white;
			margin-bottom: 20px;
		}
		input[type="file"] {
			margin-top: 10px;
		}
		input[type="submit"] {
			background-color: #333;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
		}

		.exit-btn{
			padding: 8px 20px;
			font-size: 16px;
			text-decoration: none;
			background-color: #ff4c4c;
			border-radius: 6px;
		}
		
	</style>
</head>
<body>
	<form action="/upload" method="post" enctype="multipart/form-data">
		<label for="name">Product Name:</label>
		<input type="text" id="name" name="name" required>

		<label for="description">Product Description:</label>
		<textarea id="description" name="description" required></textarea>


		<label for="price">Product Price:</label>
		<input type="text" id="price" name="price" required>
		
		<label for="product-pic">Product Picture: </label>
		<input type="file" id="product-pic" name="product-pic"required>

		<label for="product-pic">Product Picture (front):</label>
		<input type="file" id="product-pic" name="product-pic" required>

		<label for="product-pic">Product Picture (back):</label>
		<input type="file" id="product-pic" name="product-pic" required>

		<input type="submit" value="Upload Product">

		<a class="exit-btn" href="/OpenPage">Exit</a>
	</form>
</body>
</html>
