<!DOCTYPE html>
<html>
<head>
	<title>My Web Page</title>
	<style>
		body {
			background-color: black;
			color: white;
			font-family: Arial, sans-serif;
		}
		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
		}
		h1 {
			font-size: 48px;
			margin-bottom: 30px;
			text-align: center;
		}
		button {
            background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
		}
	</style>
</head>
<body>
	<h1>HYPE HAVEN</h1>
	<div class="container">
		
	
        <button><a href="/index" style="color: white; text-decoration: none;">User</a></button>

        <br>
        <br>
        <button><a href="/BusinessLogin" style="color: white; text-decoration: none;">Business</a></button>
		
        
	</div>
</body>
</html>
