<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
      body {
        background-color: #000;
        color: #fff;
      }
      
      #logo {
        font-weight: bold;
        color: #fff;
        font-size: 24px;
      }
      
      form {
        max-width: 500px;
        margin: 0 auto;
      }
      .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
  }
  .column {
    flex: 1;
    max-width: 250px;
    margin: 0 15px 30px;
  }
  .column img {
    width: 100%;
    height: auto;
  }
  .column h2 {
    font-size: 18px;
    margin: 10px 0 5px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .column {
      flex-basis: 50%;
      max-width: 50%;
    }
}
.container {
    display: flex;
    justify-content: space-between;
  }
      
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="#"><span id="logo">HYPE HAVEN</span></a>
        <form class="form-inline my-2 my-lg-0" id="search-bar">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    
    
    <br>
      <br>
      <br>
      <br>
    <div class="row">
        <div class="column">
          <img src="/images/aj11.png" alt="Product 1">
          <h2>Product 1 Name</h2>
        </div>
        <div class="column">
          <img src="/images/aj12.png" alt="Product 2">
          <h2>Product 2 Name</h2>
		  <a href="/BusinessUpload">Business Upload</a>
        </div>
        <div class="column">
          <img src="/images/aj13.png" alt="Product 3">
          <h2>Product 3 Name</h2>
		  <a href="/Individual">Check product out</a>
        </div>
        <div class="column">
          <img src="product4.jpg" alt="Product 4">
          <h2>Product 4 Name</h2>
        </div>
        <div class="column">
          <img src="product5.jpg" alt="Product 5">
          <h2>Product 5 Name</h2>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="column">
          <img src="product6.jpg" alt="Product 6">
          <h2>Product 6 Name</h2>
        </div>
        <div class="column">
          <img src="product7.jpg" alt="Product 7">
          <h2>Product 7 Name</h2>
        </div>
        <div class="column">
          <img src="product8.jpg" alt="Product 8">
          <h2>Product 8 Name</h2>
        </div>
        <div class="column">
          <img src="product9.jpg" alt="Product 9">
          <h2>Product 9 Name</h2>
        </div>
        <div class="column">
          <img src="product10.jpg" alt="Product 10">
          <h2>Product 10 Name</h2>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="column">
          <img src="product11.jpg" alt="Product 11">
          <h2>Product 11 Name</h2>
        </div>
        <div class="column">
          <img src="product12.jpg" alt="Product 12">
          <h2>Product 12 Name</h2>
        </div>
        <div class="column">
          <img src="product13.jpg" alt="Product 13">
          <h2>Product 13 Name</h2>
        </div>
        <div class="column">
          <img src="product14.jpg" alt="Product 14">
          <h2>Product 14 Name</h2>
        </div>
        <div class="column">
          <img src="product15.jpg" alt="Product 15">
          <h2>Product 15 Name</h2>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="column">
          <img src="product16.jpg" alt="Product 16">
          <h2>Product 16 Name</h2>
        </div>
        <div class="column">
          <img src="product17.jpg" alt="Product 17">
          <h2>Product 17 Name</h2>
        </div>
        <div class="column">
          <img src="product18.jpg" alt="Product 18">
          <h2>Product 18 Name</h2>
        </div>
        <div class="column">
            <img src="product18.jpg" alt="Product 18">
            <h2>Product 19 Name</h2>
          </div>
          <div class="column">
            <img src="product18.jpg" alt="Product 18">
            <h2>Product 20 Name</h2>
          </div>
      </div>
      
    
      
  </body>
</html>
